:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-size: 15pt;

  --l-blue: hsl(240, 100%, 40%);
  --l-green: hsl(120, 100%, 25%);
  --l-purple: hsl(300, 100%, 40%);
  --l-orange: hsl(34, 100%, 40%);
}

a {
  color: var(--l-blue);
  text-decoration: none;
}
a:hover {
  text-shadow: #8884 0px 0px 2px;
}

.round-btn {
  padding: 2px;
  flex: none;
  aspect-ratio: 1;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background-color: white;
  border: 1px solid black;
}
